
body {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    background-color: var(--body);
}
hr {
    border-top: 3px solid #ffdbaa;
}
/*------------------------------------------------Theme-------------------*/
#theme-switch {
    height: 50px;
    width: 50px;
    padding: 0px;
    border-radius: 50%;
    border: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff7e6;
}
#theme-switch:hover {
    cursor: pointer;
}
#theme-switch span:last-child{
    display: none;
}
.darkmode #theme-switch span:first-child{
    display: none;
}
.darkmode #theme-switch span:last-child{
    display: block;
}
:root {
    --header: #ffdbaa;
    --body: #fff7e6;
    --text-button: #2d2d2d;
    --link-hover: #5cbfe6;
    --header-light: #2d2d2d;
}
.darkmode {
    --header: #525252;
    --body: #2d2d2d;
    --text-button: #fff7e6;
    --link-hover: #7fdbff;
    --header-light: #ffdbaa;
}
/*--------------------------------------------------Icon style-----------*/
.material-icons {
    color: #2d2d2d;
}
.material-icons:hover {
    color: var(--link-hover);
}
/*-------------------------------------------------Nav Bar----------------*/
.logo {
    margin: 16px auto 16px 16px;
}
.navbar {
    margin: 0px 0px 0px 0px;
    display: grid;
    grid-template-columns: auto auto auto auto;
    align-items: center;
}
.nav-item {
    width: 86px;
    height: 65px;
    border-radius: 1rem;
    color: var(--text-button);
    font-family: "Lato", sans-serif;
    font-size: 20px;
    padding-top: 10px;
    text-align: center;
    margin: 25px 5px 0px 5px;
}
.nav-item-theme {
    width: auto;
    height: 110px;
    color: var(--text-button);
    font-size: 20px;
    padding-top: 0px;
    text-align: center;
    margin: 20px 16px 0px 5px;
}
a {
    color: var(--text-button);
    text-decoration: none;
}
.nav-item a:hover {
    color: var(--link-hover);
    text-decoration: underline;
    cursor: pointer;
}
.nav-item-active {
    background-color: var(--body);
    border-radius: 1rem 1rem 0px 0px;
}
header {
    display: flex;
    justify-content: right;
    background-color: var(--header);
    width: 100%;
    height: 100px;
    position: sticky;
    top: 0;
    z-index: 1;
}
/*--------------------------------------Section-----------------------------------------------------------------*/
.flex-line {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: 10px 20px 5px 0px;
    padding-left: 55px;
}
.box {
    display: flex;
    flex-direction: column;
    margin: 20px 10px 0px 10px;
    width: 400px;
    height: auto;
    justify-content: center;
    padding: 0px;
    border-bottom: 3px solid #ffdbaa;
}    
.img {
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 400px;
    height: 200px;
    object-fit: cover;
    background-color: #525252;
}
.text {
    display: flex;
    flex-direction: column;
    padding: 0px 0px 10px 0px;
}
.title {
    font-family: "Arimo", sans-serif;
    font-size: 20px;
    font-weight: 600;
    color: var(--text-button);
    margin: 5px 0px 0px 0px;
}
.date {
    font-family: "arimo", sans-serif;
    font-size: 14px;
    font-weight: 100;
    color: #b4b4b4;
    margin: 0px 0px 3px 0px;
}

.desc {
    font-family: "Arimo", sans-serif;
    font-size: 18px;
    font-weight: 500;
    color: var(--text-button);
    margin: 0px 5px 0px 0px;
}
/*--------------------------------Footer----------------------------------------------------------------------*/
footer {
    display: flex;
    flex-direction: row;
    justify-content: right;
    background-color: var(--header);
    width: 100%;
    height: 100px;
}
.footer-txt {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    text-align: right;
    margin: 0px 15px 15px 0px;
    width: auto;
    height: auto;
}
a.about {
    text-decoration: none;
    color: var(--text-button);
    font-family: "Lato", sans-serif;
    font-size: 16px;
    margin: 3px 0px 0px 0px;

}
a.about:hover {
    color: var(--link-hover);
    text-decoration: underline;
    cursor: pointer;
}
.copyright {
    color: var(--text-button);
    font-family: "Lato", sans-serif ;
    font-size: 16px;
    margin: 3px 0px 0px 0px;
}
/*----------------------------------------------Menu Toggle--------------------------------------------------------------------------*/
/* Menu Toggle Button - Hidden by default */
.menu-toggle {
    display: none;
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    margin: 0 10px;
    z-index: 10;
}

.menu-toggle .material-icons {
    font-size: 30px;
    color: var(--text-button);
}

.menu-toggle:hover .material-icons {
    color: var(--link-hover);
}

/*--------------------------------@media Screen Settings------------------------------------------------------------------------------*/
/*--------------------------------@media 1334px------------------------------------------------------------------------------*/
@media screen and (max-width: 1334px) {
.flex-line {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.box {
    display: flex;
    flex-direction: column;
    margin: 20px 10px 0px 10px;
    width: 350px;
    height: auto;
    justify-content: center;
    padding: 0px;
    border-bottom: 3px solid #ffdbaa;
}    
.img {
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 350px;
    height: 200px;
    object-fit: cover;
    background-color: #525252;
}

}
/*--------------------------------@media 1184px------------------------------------------------------------------------------*/
@media screen and (max-width: 1184px) {
.box {
    display: flex;
    flex-direction: column;
    margin: 20px 10px 0px 10px;
    width: 320px;
    height: auto;
    justify-content: center;
    padding: 0px;
    border-bottom: 3px solid #ffdbaa;
}    
.img {
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 320px;
    height: 180px;
    object-fit: cover;
    background-color: #525252;
}

}
/*--------------------------------@media 1094px------------------------------------------------------------------------------*/
@media screen and (max-width: 1094px) {
.box {
    display: flex;
    flex-direction: column;
    margin: 20px 10px 0px 10px;
    width: 300px;
    height: auto;
    justify-content: center;
    padding: 0px;
    border-bottom: 3px solid #ffdbaa;
}    
.img {
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 300px;
    height: 170px;
    object-fit: cover;
    background-color: #525252;
}
}
/*--------------------------------@media 1034px------------------------------------------------------------------------------*/
@media screen and (max-width: 1034px) {
.box {
    display: flex;
    flex-direction: column;
    margin: 20px 10px 0px 10px;
    width: 280px;
    height: auto;
    justify-content: center;
    padding: 0px;
    border-bottom: 3px solid #ffdbaa;
}    
.img {
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 280px;
    height: 170px;
    object-fit: cover;
    background-color: #525252;
}

}
/*--------------------------------@media 768px------------------------------------------------------------------------------*/
@media screen and (max-width: 768px) {
.flex-line {
    padding-left: 0px;
    margin-right: 0px;
}
.nav-item {
    font-size: 17px;
    width: 83px;

}
.logo {
    transform: scale(0.9);
}
.title {
    font-family: "Arimo", sans-serif;
    font-size: 20px;
    font-weight: 600;
    color: var(--text-button);
    margin: 5px 0px 0px 0px;
}
.date {
    font-family: "arimo", sans-serif;
    font-size: 13px;
    font-weight: 100;
    color: #b4b4b4;
    margin: 0px 0px 10px 0px;
}

.desc {
    font-family: "Arimo", sans-serif;
    font-size: 16px;
    font-weight: 100;
    color: var(--text-button);
    margin: 0px 5px 0px 0px;
}
a.about {
    font-size: 13px;
}
.copyright {
    font-size: 13px;
}

}
/*--------------------------------@media 599px------------------------------------------------------------------------------*/
@media screen and (max-width: 599px) {
.box {
    display: flex;
    flex-direction: column;
    margin: 20px 10px 0px 10px;
    width: 220px;
    height: auto;
    justify-content: center;
    padding: 0px;
    border-bottom: 3px solid #ffdbaa;
}    
.img {
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 220px;
    height: 150px;
    object-fit: cover;
    background-color: #525252;
}
.title {
    font-family: "Arimo", sans-serif;
    font-size: 18px;
    font-weight: 600;
    color: var(--text-button);
    margin: 5px 0px 0px 0px;
}
.date {
    font-family: "arimo", sans-serif;
    font-size: 11px;
    font-weight: 100;
    color: #b4b4b4;
    margin: 0px 0px 10px 0px;
}

.desc {
    font-family: "Arimo", sans-serif;
    font-size: 14px;
    font-weight: 100;
    color: var(--text-button);
    margin: 0px 5px 0px 0px;
}

}
/*--------------------------------@media 479px------------------------------------------------------------------------------*/
@media screen and (max-width: 479px) {
.box {
    display: flex;
    flex-direction: column;
    margin: 20px 10px 0px 10px;
    width: 200px;
    height: auto;
    justify-content: center;
    padding: 0px;
    border-bottom: 3px solid #ffdbaa;
}    
.img {
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 200px;
    height: 130px;
    object-fit: cover;
    background-color: #525252;
}
.title {
    font-family: "Arimo", sans-serif;
    font-size: 18px;
    font-weight: 600;
    color: var(--text-button);
    margin: 5px 0px 0px 0px;
}
.date {
    font-family: "arimo", sans-serif;
    font-size: 11px;
    font-weight: 100;
    color: #b4b4b4;
    margin: 0px 0px 10px 0px;
}

.desc {
    font-family: "Arimo", sans-serif;
    font-size: 14px;
    font-weight: 100;
    color: var(--text-button);
    margin: 0px 5px 0px 0px;
}

}
/*--------------------------------@media 425px------------------------------------------------------------------------------*/
@media screen and (max-width: 425px) {
.flex-line {
    justify-content: flex-start;
}
.nav-item {
    font-size: 17px;
    width: 83px;

}
.logo {
    width: 69px;
    height: 60px;
    margin-right: auto;
}

.box {
    display: flex;
    flex-direction: column;
    margin: 20px 10px 0px 10px;
    width: 400px;
    height: auto;
    justify-content: center;
    padding: 0px;
    border-bottom: 3px solid #ffdbaa;
}    
.img {
    display: block;
    margin-right: auto;
    margin-left: 0px;
    width: 230px;
    height: 130px;
    object-fit: cover;
    background-color: #525252;
}
.title {
    font-family: "Arimo", sans-serif;
    font-size: 16px;
    font-weight: 600;
    color: var(--text-button);
    margin: 5px 0px 0px 0px;
}
.date {
    font-family: "arimo", sans-serif;
    font-size: 11px;
    font-weight: 100;
    color: #b4b4b4;
    margin: 0px 0px 10px 0px;
}

.desc {
    font-family: "Arimo", sans-serif;
    font-size: 12px;
    font-weight: 100;
    color: var(--text-button);
    margin: 0px 5px 0px 0px;
}
    .nav-item-theme {
        transform: scale(0.8);
        width: auto;
        height: 80px;
        color: var(--text-button);
        font-size: 20px;
        padding-top: 0px;
        text-align: center;
        margin: 23px 0px 0px 5px;
    }
    .menu-toggle {
        display: block;
    }
    .navbar {
        position: absolute;
        top: 80px;
        right: 0;
        background-color: var(--header);
        display: none;
        flex-direction: column;
        width: 200px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        border-radius: 0 0 0 1rem;
        z-index: 100;
    }
    .navbar.active {
        display: flex;
    }
    .navbar .nav-item {
        width: 100%;
        margin: 0;
        height: 50px;
        border-radius: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        border-bottom: 1px solid rgba(255, 219, 170, 0.3);
    }
    .navbar .nav-item:last-child {
    border-bottom: none;
    border-radius: 0 0 0 1rem;
    }
    .navbar .nav-item:first-child {
        border-radius: 0;
    }
    /* Active nav item styling for dropdown */
    .nav-item-active {
        background-color: rgba(255, 247, 230, 0.2);
        border-radius: 0 0 0 1rem !important;
    }
    
    /* Adjust header layout */
    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }



}
/*--------------------------------@media 375px------------------------------------------------------------------------------*/
@media screen and (max-width: 375px) {
.logo {
    width: 68.31px;
    height: 59.4px;
}
.title {
    font-family: "Arimo", sans-serif;
    font-size: 14px;
    font-weight: 600;
    color: var(--text-button);
    margin: 5px 0px 0px 0px;
}
.date {
    font-family: "arimo", sans-serif;
    font-size: 10px;
    font-weight: 100;
    color: #b4b4b4;
    margin: 0px 0px 10px 0px;
}

.desc {
    font-family: "Arimo", sans-serif;
    font-size: 11px;
    font-weight: 100;
    color: var(--text-button);
    margin: 0px 5px 0px 0px;
}
header {
    height: 80px;
}
}