
body {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    background-color: var(--body);
}
hr {
    border-top: 3px solid #ffdbaa;
}
/*------------------------------------------------Theme-------------------*/
#theme-switch {
    height: 50px;
    width: 50px;
    padding: 0px;
    border-radius: 50%;
    border: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff7e6;
}
#theme-switch:hover {
    cursor: pointer;
}
#theme-switch span:last-child{
    display: none;
}
.darkmode #theme-switch span:first-child{
    display: none;
}
.darkmode #theme-switch span:last-child{
    display: block;
}
:root {
    --header: #ffdbaa;
    --body: #fff7e6;
    --text-button: #2d2d2d;
    --link-hover: #5cbfe6;
    --header-light: #2d2d2d;
}
.darkmode {
    --header: #525252;
    --body: #2d2d2d;
    --text-button: #fff7e6;
    --link-hover: #7fdbff;
    --header-light: #ffdbaa;
}
/*--------------------------------------------------Icon style-----------*/
.material-icons {
    color: #2d2d2d;
}
.material-icons:hover {
    color: var(--link-hover);
}
/*-------------------------------------------------Nav Bar----------------*/
.logo {
    margin: 16px auto 16px 16px;
}
.navbar {
    margin: 0px 0px 0px 0px;
    display: grid;
    grid-template-columns: auto auto auto auto;
    align-items: center;
}
.nav-item {
    width: 86px;
    height: 65px;
    border-radius: 1rem;
    color: var(--text-button);
    font-family: "Lato", sans-serif;
    font-size: 20px;
    padding-top: 10px;
    text-align: center;
    margin: 25px 5px 0px 5px;
}
.nav-item-theme {
    width: auto;
    height: 110px;
    color: var(--text-button);
    font-size: 20px;
    padding-top: 0px;
    text-align: center;
    margin: 20px 16px 0px 5px;
}
a {
    color: var(--text-button);
    text-decoration: none;
}
.nav-item a:hover {
    color: var(--link-hover);
    text-decoration: underline;
    cursor: pointer;
}
.nav-item-active {
    background-color: var(--body);
    border-radius: 1rem 1rem 0px 0px;
}
header {
    display: flex;
    justify-content: right;
    background-color: var(--header);
    width: 100%;
    height: 100px;
    position: sticky;
    top: 0;
    z-index: 1;
    
}
/*-------------------------------------Nav-Line------------------------------------------------------------------------------*/
.nav-line {
    margin: 20px 65px 10px 65px;
    padding: 5px 0px 0px 0px;
    border-top: 3px solid #ffdbaa;

}
a.link-fill {
    color: var(--text-button);
    font-family: "Lato", sans-serif;
    font-size: 16px;
    text-decoration: none;
    margin-right: 5px;
}
a.link-fill:hover {
    text-decoration: underline;
    color: var(--link-hover);
}
.text-fill {
    display: inline;
    font-family: "Lato", sans-serif;
    font-size: 16px;
    color: var(--text-button);
}
.arrow-fill {
    font-size: 16px;
    font-family: "Lato", sans-serif;
    color: var(--text-button);
    margin-right: 5px;
}
/*------------------------------------The-News--------------------------------------------------------------------*/
h2 {
    color: var(--text-button);
    font-family: "Chivo", sans-serif;
}
a:hover {
    color: var(--link-hover);
    text-decoration: underline;
}
li {
    margin-bottom: 10px;
}
ul {
    color: var(--text-button);
    font-family: "Lora", serif;
    font-size: 16px;
}
ol {
    color: var(--text-button);
    font-family: "Lora", serif;
    font-size: 16px;

}
.news-box {
    margin: 0px 65px 0px 65px;
}
.the-news {
    margin: 0px 100px 0px 55px;
    border-left: 3px solid #ffdbaa;
    padding: 0px 0px 0px 30px;
}
.title {
    font-family: "Chivo", sans-serif;
    font-size: 40px;
    color: var(--text-button);
    margin: 0;
}
.date {
    font-family: "Chivo", sans-serif;
    font-size: 20px;
    color: #b4b4b4;
    margin: 1px 0px 0px 0px;
}
.paragraph {
    margin: 10px 0px 20px 0px;
    font-family: "Lora", serif;
    font-size: 16px;
    font-weight: 500;
    color: var(--text-button);
    line-height: 2;
    word-spacing: 0.87px;
    text-align: justify;
}
.img-container {
    display: block;
    margin: 10px auto 10px auto;
    overflow: hidden;
    width: 700px;
    height: 400px;
    border-radius: 10px;
    position: relative;
}
.img-news {
    display: block;
    width: 700px;
    height: 400px;
    margin: 10px auto 10px auto;
    background-color: #525252;
    border-radius: 10px;
    object-fit: cover;
    transition: all 0.40s ease;
}
.img-desc {
    position: absolute;
    bottom: 8px;
    right: 12px;
    font-size: 14px;
    color: white;
    font-family: "Arimo", sans-serif;
    font-weight: 700;
}
.img-container:hover .img-news {
    transform: scale(1.2);
}
.iframe-set {
    display: block;
    width: 700px; 
    height: 400px;
    margin: 0px auto 0px auto;
    border: none;
    border-radius: 10px;
    transition: all 0.40s ease;
}
.iframe-set:hover {
    box-shadow: 0px 0px 10px var(--header-light);
}
/*--------------------------------Footer----------------------------------------------------------------------*/
footer {
    display: flex;
    flex-direction: row;
    justify-content: right;
    background-color: var(--header);
    width: 100%;
    height: 100px;
}
.footer-txt {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    text-align: right;
    margin: 0px 15px 15px 0px;
    width: auto;
    height: auto;
}
a.about {
    text-decoration: none;
    color: var(--text-button);
    font-family: "Lato", sans-serif;
    font-size: 16px;
    margin: 3px 0px 0px 0px;

}
a.about:hover {
    color: var(--link-hover);
    text-decoration: underline;
    cursor: pointer;
}
.copyright {
    color: var(--text-button);
    font-family: "Lato", sans-serif ;
    font-size: 16px;
    margin: 3px 0px 0px 0px;
}
/*----------------------------------------------Menu Toggle--------------------------------------------------------------------------*/
/* Menu Toggle Button - Hidden by default */
.menu-toggle {
    display: none;
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    margin: 0 10px;
    z-index: 10;
}

.menu-toggle .material-icons {
    font-size: 30px;
    color: var(--text-button);
}

.menu-toggle:hover .material-icons {
    color: var(--link-hover);
}

/*--------------------------------@media Screen Settings------------------------------------------------------------------------------*/
/*--------------------------------@media 917px------------------------------------------------------------------------------*/
@media screen and (max-width: 917px) {
.img-container {
    margin: 10px 0px 10px 0px;
    overflow: hidden;
    width: 600px;
    height: 300px;
    border-radius: 10px;
    position: relative;
}
.img-news {
    width: 600px;
    height: 300px;
    margin: 10px 0px 10px 0px;
    background-color: #525252;
    border-radius: 10px;
    object-fit: cover;
    transition: all 0.40s ease;
}
.iframe-set {
    width: 600px; 
    height: 300px;
    margin: 0px 0px 0px 0px;
    border: none;
    border-radius: 10px;
    transition: all 0.40s ease;
}

}
/*--------------------------------@media 790px------------------------------------------------------------------------------*/
@media screen and (max-width: 790px) {
.img-container {
    margin: 10px 0px 10px 0px;
    overflow: hidden;
    width: 500px;
    height: 300px;
    border-radius: 10px;
    position: relative;
}
.img-news {
    width: 500px;
    height: 300px;
    margin: 10px 0px 10px 0px;
    background-color: #525252;
    border-radius: 10px;
    object-fit: cover;
    transition: all 0.40s ease;
}
.iframe-set {
    width: 500px; 
    height: 300px;
    margin: 0px 0px 0px 0px;
    border: none;
    border-radius: 10px;
    transition: all 0.40s ease;
}

}
/*--------------------------------@media 768px------------------------------------------------------------------------------*/
@media screen and (max-width: 768px) {
.logo {
    transform: scale(0.9);
}
.nav-item {
    font-size: 17px;
    width: 83px;
}
.img-container {
    margin: 10px 0px 10px 0px;
    overflow: hidden;
    width: 500px;
    height: 300px;
    border-radius: 10px;
    position: relative;
}
.img-news {
    width: 500px;
    height: 300px;
    margin: 10px 0px 10px 0px;
    background-color: #525252;
    border-radius: 10px;
    object-fit: cover;
    transition: all 0.40s ease;
}
.iframe-set {
    width: 500px; 
    height: 300px;
    margin: 0px 0px 0px 0px;
    border: none;
    border-radius: 10px;
    transition: all 0.40s ease;
}
.the-news {
    margin: 0px 50px 0px 55px;
    border-left: 3px solid #ffdbaa;
    padding: 0px 0px 0px 30px;
}
a.about {
    font-size: 13px;
}
.copyright {
    font-size: 13px;
}
}
/*--------------------------------@media 654px------------------------------------------------------------------------------*/
@media screen and (max-width: 654px) {
a.link-fill {
    font-size: 14px;
}
span.arrow-fill {
    font-size: 14px;
}
.text-fill {
    font-size: 14px;
}
h1.title {
    font-size: 30px;
}
p.date {
    font-size: 12px; 
}
p.paragraph {
    font-family: 15px;
}
.the-news {
    margin: 0px 30px 0px 30px;
    border-left: 3px solid #ffdbaa;
    padding: 0px 0px 0px 30px;
}
.img-container {
    margin: 10px 0px 10px 0px;
    overflow: hidden;
    width: 450px;
    height: 250px;
    border-radius: 10px;
    position: relative;
}
.img-news {
    width: 450px;
    height: 250px;
    margin: 10px 0px 10px 0px;
    background-color: #525252;
    border-radius: 10px;
    object-fit: cover;
    transition: all 0.40s ease;
}
.iframe-set {
    width: 450px; 
    height: 250px;
    margin: 0px 0px 0px 0px;
    border: none;
    border-radius: 10px;
    transition: all 0.40s ease;
}

}
/*--------------------------------@media 468px------------------------------------------------------------------------------*/
@media screen and (max-width: 468px) {
.img-container {
    margin: 10px 0px 10px 0px;
    overflow: hidden;
    width: 350px;
    height: 200px;
    border-radius: 10px;
    position: relative;
}
.img-news {
    width: 350px;
    height: 200px;
    margin: 10px 0px 10px 0px;
    background-color: #525252;
    border-radius: 10px;
    object-fit: cover;
    transition: all 0.40s ease;
}
.iframe-set {
    width: 350px; 
    height: 200px;
    margin: 0px 0px 0px 0px;
    border: none;
    border-radius: 10px;
    transition: all 0.40s ease;
}
.the-news {
    margin: 0px 10px 0px 20px;
    border-left: 3px solid #ffdbaa;
    padding: 0px 0px 0px 30px;
}
.news-box {
    margin: 0px 35px 0px 35px;
}
.nav-line {
    margin: 20px 35px 10px 35px;
    padding: 5px 0px 0px 0px;
    border-top: 3px solid #ffdbaa;

}

}
/*--------------------------------@media 425px------------------------------------------------------------------------------*/
@media screen and (max-width: 425px) {
.logo {
    width: 69px;
    height: 60px;
    margin-right: auto;
}
a.link-fill {
    font-size: 10px;
}
.text-fill {
    font-size: 10px;
}
.arrow-fill {
    font-size: 10px;
}
h1.title {
    font-size: 25px;
}
p.date {
    font-size: 12px; 
}
p.paragraph {
    font-family: 15px;
}
.news-box {
    margin: 0px 15px 0px 15px;
}
.the-news {
    margin: 0px 15px 0px 15px;
    border-left: 3px solid #ffdbaa;
    padding: 0px 0px 0px 30px;
}
    .nav-item-theme {
        transform: scale(0.8);
        width: auto;
        height: 80px;
        color: var(--text-button);
        font-size: 20px;
        padding-top: 0px;
        text-align: center;
        margin: 23px 0px 0px 5px;

    }
    .menu-toggle {
        display: block;
    }
    .navbar {
        position: absolute;
        top: 80px;
        right: 0;
        background-color: var(--header);
        display: none;
        flex-direction: column;
        width: 200px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        border-radius: 0 0 0 1rem;
        z-index: 100;
    }
    .navbar.active {
        display: flex;
    }
    .navbar .nav-item {
        width: 100%;
        margin: 0;
        height: 50px;
        border-radius: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        border-bottom: 1px solid rgba(255, 219, 170, 0.3);
    }
    .navbar .nav-item:last-child {
    border-bottom: none;
    border-radius: 0 0 0 1rem;
    }
    .navbar .nav-item:first-child {
        border-radius: 0;
    }
    /* Active nav item styling for dropdown */
    .nav-item-active {
        background-color: rgba(255, 247, 230, 0.2);
        border-radius: 0 !important;
    }
    
    /* Adjust header layout */
    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

}


/*--------------------------------@media 375px------------------------------------------------------------------------------*/
@media screen and (max-width: 375px) {
header {
    height: 80px;
}
.logo {
    width: 68.31px;
    height: 59.4px;
}
.the-news {
    margin: 0px 10px 0px 5px;
    border-left: 3px solid #ffdbaa;
    padding: 0px 0px 0px 10px;
}
.nav-line {
    margin: 20px 10px 10px 10px;
    padding: 5px 0px 0px 0px;
    border-top: 3px solid #ffdbaa;

}
.img-container {
    margin: 10px auto 10px auto;
    overflow: hidden;
    width: 290px;
    height: 170px;
    border-radius: 10px;
    position: relative;
}
.img-news {
    width: 290px;
    height: 170px;
    margin: 10px 0px 10px 0px;
    background-color: #525252;
    border-radius: 10px;
    object-fit: cover;
    transition: all 0.40s ease;
}
.iframe-set {
    width: 290px; 
    height: 170px;
    margin: 0px auto 0px auto;
    border: none;
    border-radius: 10px;
    transition: all 0.40s ease;
}

}