
body {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    background-color: var(--body);
}
hr {
    border-top: 3px solid #ffdbaa;
}
/*------------------------------------------------Theme-------------------*/
#theme-switch {
    height: 50px;
    width: 50px;
    padding: 0px;
    border-radius: 50%;
    border: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff7e6;
}
#theme-switch:hover {
    cursor: pointer;
}
#theme-switch span:last-child{
    display: none;
}
.darkmode #theme-switch span:first-child{
    display: none;
}
.darkmode #theme-switch span:last-child{
    display: block;
}
:root {
    --header: #ffdbaa;
    --body: #fff7e6;
    --text-button: #2d2d2d;
    --link-hover: #5cbfe6;
    --header-light: #2d2d2d;
}
.darkmode {
    --header: #525252;
    --body: #2d2d2d;
    --text-button: #fff7e6;
    --link-hover: #7fdbff;
    --header-light: #ffdbaa;
}
/*--------------------------------------------------Icon style-----------*/
.material-icons {
    color: #2d2d2d;
}
.material-icons:hover {
    color: var(--link-hover);
}
/*-------------------------------------------------Nav Bar----------------*/
.logo {
    margin: 16px auto 16px 16px;
}
.navbar {
    margin: 0px 0px 0px 0px;
    display: grid;
    grid-template-columns: auto auto auto auto;
    align-items: center;
}
.nav-item {
    width: 86px;
    height: 65px;
    border-radius: 1rem;
    color: var(--text-button);
    font-family: "Lato", sans-serif;
    font-size: 20px;
    padding-top: 10px;
    text-align: center;
    margin: 25px 5px 0px 5px;
}
.nav-item-theme {
    width: auto;
    height: 110px;
    color: var(--text-button);
    font-size: 20px;
    padding-top: 0px;
    text-align: center;
    margin: 20px 16px 0px 5px;
}
a {
    color: var(--text-button);
    text-decoration: none;
}
.nav-item a:hover {
    color: var(--link-hover);
    text-decoration: underline;
    cursor: pointer;
}
.nav-item-active {
    background-color: var(--body);
    border-radius: 1rem 1rem 0px 0px;
}
header {
    display: flex;
    justify-content: right;
    background-color: var(--header);
    width: 100%;
    height: 100px;
    position: sticky;
    top: 0;
    z-index: 1;
    
}
/*----------------------------------------Section 1------------------------------------------------*/
.top {
    display: flex;
    width: auto;
    height: auto;
    margin: 32px auto 1rem auto;
    justify-content: center;
}
.img-top-container {
    display: block;
    overflow: hidden;
    width: 460px;
    height: 260px;
    background-color: #525252;
    border: 0;
}
.img-top {
    object-fit: cover;
    display: block;
    width: 460px;
    height: 260px;
    transition: all 0.40s ease;
    background-color: #525252;
    border: 0;
}
.img-top-container:hover .img-top {
    transform: scale(1.2);
}
.text-top {
    display: flex;
    flex-direction: column;
    justify-content: end;
    margin: 10px 0px 5px 5px;
    text-align: left;
    height: 245px;
    width: 300px;
}
.top-title {
    font-family: "Arimo", sans-serif;
    font-size: 30px;
    font-weight: 700;
    color: var(--text-button);
    margin: 0px 0px 0px 0px;

}
.top-date {
    font-family: "Arimo", sans-serif;
    font-size: 16px;
    color: #b4b4b4;
    margin: 0px 0px 10px 0px;

}
.top-desc {
    font-family: "Arimo", sans-serif;
    font-size: 18px;
    color: var(--text-button);
    margin: 0px 0px 2px 0px;

}
/*--------------------------------------Border----------------------------------------------------------------*/
.flag-line {
    display: flex;
    justify-content: right;
    max-width: 1000px;
    height: auto;
    margin: 10px auto 0px auto;
    border-top: 3px solid #ffdbaa;
}
.flag {
    width: 90px;
    height: auto;
    padding: 18px;
    background-color: #ffdbaa;
    font-family: "Arimo", sans-serif;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
}
/*----------------------------------------Section 2------------------------------------------------*/
.catalog {
    display: flex;
    margin: 5px 0px 5px 0px;
    width: auto;
    height: auto;
    justify-content: center;
}
.divider {
    display: block;
}
.empty {
    width: 230px;
    height: auto;
}
.box {
    display: flex;
    justify-content: center;
    width: auto;
    height: auto; 
    margin: 0px 0px 15px 0;

}

.img-other {
    display: block;
    object-fit: cover;
    width: 300px;
    height: 150px;
    background-color: #525252;
    border: 0;
}
.text-other {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-left: 5px;
}
.other-title {
    font-family: "Arimo", sans-serif;
    font-size: 20px;
    font-weight: 700;
    color: var(--text-button);
    margin: 0;
}
.other-date {
    font-family: "Arimo", sans-serif;
    font-size: 13px;
    color: #b4b4b4;
    margin: 0px 0px 10px 0px;
}
.other-desc {
    font-family: "Arimo", sans-serif;
    font-size: 16px;
    color: var(--text-button);
    margin: 0px 0px 2px 0px;
}
/*--------------------------------Footer----------------------------------------------------------------------*/
footer {
    display: flex;
    flex-direction: row;
    justify-content: right;
    background-color: var(--header);
    width: 100%;
    height: 100px;
}
.footer-txt {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    text-align: right;
    margin: 0px 15px 15px 0px;
    width: auto;
    height: auto;
}
a.about {
    text-decoration: none;
    color: var(--text-button);
    font-family: "Lato", sans-serif;
    font-size: 16px;
    margin: 3px 0px 0px 0px;

}
a.about:hover {
    color: var(--link-hover);
    text-decoration: underline;
    cursor: pointer;
}
.copyright {
    color: var(--text-button);
    font-family: "Lato", sans-serif ;
    font-size: 16px;
    margin: 3px 0px 0px 0px;
}
/*----------------------------------------------Menu Toggle--------------------------------------------------------------------------*/
/* Menu Toggle Button - Hidden by default */
.menu-toggle {
    display: none;
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    margin: 0 10px;
    z-index: 10;
}

.menu-toggle .material-icons {
    font-size: 30px;
    color: var(--text-button);
}

.menu-toggle:hover .material-icons {
    color: var(--link-hover);
}
/*--------------------------------@media Screen Settings------------------------------------------------------------------------------*/
/*--------------------------------@media 768px------------------------------------------------------------------------------*/
@media screen and (max-width: 768px) {
    .img-top { 
    width: 420px;
    height: 220px;
    }
    .top-title {
        font-size: 27px;
    }
    .top-date {
        font-size: 13px;
    }
    .top-desc {
        font-size: 15px;
    }
    .text-top {
        width: 245px;
        height: auto;
    }
    .flag {
        font-size: 15px;
        width: 60px;
    }
    .flag-line {
        max-width: 700px;
    }
    .empty {
        width: 130px;
    }
    .nav-item {
        font-size: 17px;
        width: 83px;
    }
    .logo {
        transform: scale(0.9);
    }
    a.about {
        font-size: 13px;
    }
    .copyright {
        font-size: 13px;
    }
}
/*--------------------------------@media 425px------------------------------------------------------------------------------*/
@media screen and (max-width: 425px) {
    .img-top { 
    width: 230px;
    height: 130px;
    margin-left: auto;
    }
    .top-title {
        font-size: 16px;
    }
    .top-date {
        font-size: 11px;
    }
    .top-desc {
        font-size: 12px;
    }
    .text-top {
        width: 245px;
        height: auto;
    }
    .img-other {
        width: 230px;
        height: 130px;
        margin-left: auto;
    }
    .other-title {
        font-size: 16px;
    }
    .other-date {
        font-size: 11px;
    }
    .other-desc {
        font-size: 12px;
    }
    .flag {
        font-size: 15px;
        width: 60px;
    }
    .flag-line {
        max-width: 400px;
    }
    .empty {
       display: none;
    }
    .logo {
        width: 69px;
        height: 60px;
        margin-right: auto;
    }
    a.about {
        font-size: 13px;
    }
    .copyright {
        font-size: 13px;
    }
    .text-top {
    display: flex;
    flex-direction: column;
    justify-content: end;
    margin: 10px auto 5px 5px;
    text-align: left;
    height: auto;
    width: 170px;
    }

    .nav-item-theme {
        transform: scale(0.8);
        width: auto;
        height: 80px;
        color: var(--text-button);
        font-size: 20px;
        padding-top: 0px;
        text-align: center;
        margin: 23px 0px 0px 5px;

    }
    .menu-toggle {
        display: block;
    }
    .navbar {
        position: absolute;
        top: 80px;
        right: 0;
        background-color: var(--header);
        display: none;
        flex-direction: column;
        width: 200px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        border-radius: 0 0 0 1rem;
        z-index: 100;
    }
    .navbar.active {
        display: flex;
    }
    .navbar .nav-item {
        width: 100%;
        margin: 0;
        height: 50px;
        border-radius: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        border-bottom: 1px solid rgba(255, 219, 170, 0.3);
    }
    .navbar .nav-item:last-child {
    border-bottom: none;
    border-radius: 0 0 0 1rem;
    }
    .navbar .nav-item:first-child {
        border-radius: 0;
    }
    /* Active nav item styling for dropdown */
    .nav-item-active {
        background-color: rgba(255, 247, 230, 0.2);
        border-radius: 0 !important;
    }
    
    /* Adjust header layout */
    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

}
/*--------------------------------@media 375px------------------------------------------------------------------------------*/
@media screen and (max-width: 375px) {
    .img-top { 
    width: 200px;
    height: 110px;
    margin-left: auto;
    }
    .top-title {
        font-size: 13px;
    }
    .top-date {
        font-size: 9px;
    }
    .top-desc {
        font-size: 9px;
    }
    div.text-top {
        height: auto;
        width: 140px;
        margin: 10px 10px 5px 5px;
    }
    .img-other {
        width: 200px;
        height: 110px;
        margin-left: auto;
    }
    .other-title {
        font-size: 13px;
    }
    .other-date {
        font-size: 9px;
    }
    .other-desc {
        font-size: 9px;
    }
    .flag {
        font-size: 10px;
        width: 60px;
    }
    .flag-line {
        max-width: 315px;
    }
    .empty {
       display: none;
    }
    .nav-item {
        font-size: 15px;
        width: 50px;
        margin: 35px 5px 0px 5px;
        height: 50px;

    }
    .logo {
        width: 68.31px;
        height: 59.4px;
    }
    a.about {
        font-size: 13px;
    }
    .copyright {
        font-size: 13px;
    }
    .nav-item-theme {
        transform: scale(0.8);
        width: auto;
        height: 80px;
        color: var(--text-button);
        font-size: 20px;
        padding-top: 0px;
        text-align: center;
        margin: 23px 0px 0px 5px;

    }
    .text-top {
    display: flex;
    flex-direction: column;
    justify-content: end;
    margin: 10px auto 5px 5px;
    text-align: left;
    height: auto;
    width: 170px;
    }
    header {
    height: 80px;

    }

}