body {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    background-color: var(--body);
}
/*------------------------------------------------Theme-------------------*/
#theme-switch {
    height: 50px;
    width: 50px;
    padding: 0px;
    border-radius: 50%;
    border: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff7e6;
}
#theme-switch:hover {
    cursor: pointer;
}
#theme-switch span:last-child{
    display: none;
}
.darkmode #theme-switch span:first-child{
    display: none;
}
.darkmode #theme-switch span:last-child{
    display: block;
}
:root {
    --header: #ffdbaa;
    --body: #fff7e6;
    --text-button: #2d2d2d;
    --link-hover: #5cbfe6;
    --header-light: #2d2d2d;

}
.darkmode {
    --header: #525252;
    --body: #2d2d2d;
    --text-button: #fff7e6;
    --link-hover: #7fdbff;
    --header-light: #ffdbaa;

}
/*--------------------------------------------------Icon style-----------*/
.material-icons {
    color: #2d2d2d;
}
.material-icons:hover {
    color: var(--link-hover);
}
/*-------------------------------------------------Nav Bar----------------*/
.logo {
    margin: 16px auto 16px 16px;
}
.navbar {
    margin: 0px 0px 0px 0px;
    display: grid;
    grid-template-columns: auto auto auto auto;
    align-items: center;
}
.nav-item {
    width: 86px;
    height: 65px;
    border-radius: 1rem;
    color: var(--text-button);
    font-family: "Lato", sans-serif;
    font-size: 20px;
    padding-top: 10px;
    text-align: center;
    margin: 25px 5px 0px 5px;
}
.nav-item-theme {
    width: auto;
    height: 110px;
    color: var(--text-button);
    font-size: 20px;
    padding-top: 0px;
    text-align: center;
    margin: 20px 16px 0px 5px;
}
a {
    color: var(--text-button);
    text-decoration: none;
}
.nav-item a:hover {
    color: var(--link-hover);
    text-decoration: underline;
    cursor: pointer;
}
.nav-item-active {
    background-color: var(--body);
    border-radius: 1rem 1rem 0px 0px;
    
}
header {
    display: flex;
    justify-content: right;
    background-color: var(--header);
    width: 100%;
    height: 100px;
    position: sticky;
    top: 0;
    z-index: 1;

}
/*----------------------------------Section----------------------------------------------------------------*/
.catalog {
    width: auto;
    height: auto;
    margin: 20px 0px 20px 0px;
    padding: 25px 0px 0px 100px;
}
.box {
    display: flex;
    justify-content: flex-start;
    width: auto;
    height: auto;
    margin: 0px 0px 25px 0px;

}
a:hover {
    color: var(--link-hover);
    text-decoration: underline;
}
.img {
    display: block;
    object-fit: cover;
    width: 100%;
    height: 100%;
    background-color: #525252;
    transition: all 0.40s ease;
}
.img-container {
    display: block;
    overflow: hidden;
    width: 350px;
    height: 180px;
    position: relative;
    flex-shrink: 0;
}
.img-container:hover .img {
    transform: scale(1.2);
}
.text {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-left: 5px;
}
.title {
    font-family: "Arimo", sans-serif;
    font-size: 25px;
    font-weight: 700;
    color: var(--text-button);
    margin: 0%;
}
.date {
    font-family: "Arimo", sans-serif;
    font-size: 16px;
    color: #b4b4b4;
    margin: 0px 0px 10px 0px;
}
.desc {
    font-family: "Arimo", sans-serif;
    font-size: 20px;
    color: var(--text-button);
    margin: 0px 0px 2px 0px;
}
/*--------------------------------Footer----------------------------------------------------------------------*/
footer {
    display: flex;
    flex-direction: row;
    justify-content: right;
    background-color: var(--header);
    width: 100%;
    height: 100px;
}
.footer-txt {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    text-align: right;
    margin: 0px 15px 15px 0px;
    width: auto;
    height: auto;
}
a.about {
    text-decoration: none;
    color: var(--text-button);
    font-family: "Lato", sans-serif;
    font-size: 16px;
    margin: 3px 0px 0px 0px;

}
a.about:hover {
    color: var(--link-hover);
    text-decoration: underline;
    cursor: pointer;
}
.copyright {
    color: var(--text-button);
    font-family: "Lato", sans-serif ;
    font-size: 16px;
    margin: 3px 0px 0px 0px;
}
/*----------------------------------------------Menu Toggle--------------------------------------------------------------------------*/
/* Menu Toggle Button - Hidden by default */
.menu-toggle {
    display: none;
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    margin: 0 10px;
    z-index: 10;
}

.menu-toggle .material-icons {
    font-size: 30px;
    color: var(--text-button);
}

.menu-toggle:hover .material-icons {
    color: var(--link-hover);
}
/*--------------------------------@media Screen Settings------------------------------------------------------------------------------*/
/*--------------------------------@media 768px------------------------------------------------------------------------------*/
@media screen and (max-width: 768px) {
    .catalog {
        padding: 25px 0px 0px 40px;

    }
    .img {
    width: 100%;
    height: 100%;
    }
    .img-container {
    flex-shrink: 0;
    width: 320px;
    height: 160px;
}

.title {
    font-size: 22px;
    font-weight: 700;
    color: var(--text-button);
    margin: 0%;
}
.date {
    font-size: 13px;
    color: #b4b4b4;
    margin: 0px 0px 10px 0px;
}
.desc {
    font-size: 17px;
    color: var(--text-button);
    margin: 0px 0px 2px 0px;
}
.nav-item {
    font-size: 17px;
    width: 83px;
}
a.about {
    font-size: 13px;
}
.copyright {
    font-size: 13px;
}
.logo {
    transform: scale(0.9);
}
}
/*--------------------------------@media 425px------------------------------------------------------------------------------*/
@media screen and (max-width: 425px) {
    .img {
    width: 100%;
    height: 100%;
    }
    .img-container {
    flex-shrink: 0;
    width: 230px;
    height: 130px;
}

    .catalog {
    padding: 25px 0px 0px 10px;

    }
    .logo {
    width: 69px;
    height: 60px;
    margin-right: auto;
    }
.title {
    font-size: 16px;
    font-weight: 700;
    color: var(--text-button);
    margin: 0%;
}
.date {
    font-size: 11px;
    color: #b4b4b4;
    margin: 0px 0px 10px 0px;
}
.desc {
    font-size: 12px;
    color: var(--text-button);
    margin: 0px 0px 2px 0px;
}

.menu-toggle {
    display: block;
}
.navbar {
    position: absolute;
    top: 80px;
    right: 0;
    background-color: var(--header);
    display: none;
    flex-direction: column;
    width: 200px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 0 0 0 1rem;
    z-index: 100;
}
.navbar.active {
    display: flex;
}
.navbar .nav-item {
    width: 100%;
    margin: 0;
    height: 50px;
    border-radius: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid rgba(255, 219, 170, 0.3);
}
.navbar .nav-item:last-child {
    border-bottom: none;
    border-radius: 0 0 0 1rem;
}
.navbar .nav-item:first-child {
    border-radius: 0;
}
/* Active nav item styling for dropdown */
.nav-item-active {
    background-color: rgba(255, 247, 230, 0.2);
    border-radius: 0 !important;
}
    
/* Adjust header layout */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-item-theme {
    transform: scale(0.8);
    width: auto;
    height: 80px;
    color: var(--text-button);
    font-size: 20px;
    padding-top: 0px;
    text-align: center;
    margin: 23px 0px 0px 5px;
}
}
/*--------------------------------@media 375px------------------------------------------------------------------------------*/
@media screen and (max-width: 375px) {
    .logo {
        width: 68.31px;
        height: 59.4px;
    }
    .img {
        width: 100%;
        height: 100%;
    }
    .img-container {
    flex-shrink: 0;
    width: 200px;
    height: 110px;
}

.title {
    font-size: 13px;
    font-weight: 700;
    color: var(--text-button);
    margin: 0%;
}
.date {
    font-size: 9px;
    color: #b4b4b4;
    margin: 0px 0px 10px 0px;
}
.desc {
    font-size: 9px;
    color: var(--text-button);
    margin: 0px 0px 2px 0px;
}
header {
    height: 80px;
}

}